name: ml-intro
channels:
  - conda-forge
  - defaults
dependencies:
  - python>=3.8
  - tensorflow
  - numpy
  - pandas
  - scipy
  - scikit-learn
  - matplotlib
  - seaborn
  - h5py
  - pytables
  - tqdm
  - jupyter
  - notebook
  - ipykernel
  - ipywidgets